 body {
                background-color: #000;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                font-family: 'Arial', sans-serif;
            }

            #container {
                background-color: rgba(255, 255, 255, 0.1);
                padding: 20px;
                border-radius: 10px;
                text-align: center;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            }

            #numInput {
                padding: 10px;
                margin: 5px;
                border: 1px solid #333;
                border-radius: 5px;
                color: #fff;
                background-color: #333;
            }

            #outputButton {
                padding: 10px;
                background: linear-gradient(to right, #1a1a1a, #333);
                color: #fff;
                border: 1px solid #333;
                border-radius: 5px;
                cursor: pointer;
            }

            h2 {
                color: #fff;
            }

            #output {
                font-weight: bold;
                color: #007BFF;
            }
